body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.h1-highlight{
    color: orange;
}
p{
    color: gray;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 130%;
    
}
.anchor-button{
    background-image:linear-gradient(45deg,lightsalmon, tomato);
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}